body {
  font-family: Arial, sans-serif;
  padding: 2rem;
  background-color: #fafafa;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

th, td {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  text-align: left;
}

thead {
  background-color: #ddd;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}
